node_modules
**/node_modules
**/.vite
**/dist
**/build
**/.DS_Store
**/.git
**/.gitignore
**/target
**/.mvn
**/mvnw*
**/.idea
**/.vscode
**/coverage
**/npm-debug.log*
**/yarn-error.log*
**/pnpm-lock.yaml
**/.env
